DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password_postgres
PROXY_HOST=your_proxy_host
PROXY_PORT=uour_proxy_port
PROXY_USERNAME=your_proxy_username
PROXY_PASSWORD=your_proxy_password
ANTHROPIC_API_KEY=your_anthropic_api_key